@media (max-width: 767.98px) {
    /* html, body {
        overflow-x: visible;
    } */
    
    .image-area {
        display: none;
    }
    
    /* header */    
    header .brand img {
        width: 80px;
    }

    header nav #btn-mobile {
        display: block;
    }

    header nav ul.d-flex {
        display: none;
        position: absolute;
        width: 100%;
        top: 90px;
        right: 0px;
        background-color: whitesmoke;
        height: calc(100vh - 90px);
        z-index: 1000;
    }

    header nav.show ul.d-flex {
        display: block;
    }
    header nav ul a {
        padding: 1rem 0;
        margin: 0 1rem;
    }
    
    /* class */
    .container {
        width: 90%;
    }
}

/* @media (min-width: 576px) and (max-width: 767.98px) {} */

@media (min-width: 768px) and (max-width: 991.98px) {}

@media (min-width: 992px) and (max-width: 1199.98px) {}

@media (min-width: 1200px) {}